$font-family: Arial, Helvetica, sans-serif;
$letter-spacing: -0.5px;

$font-size-sm: 16px;
$font-size-lg: 22px;

$red: #e90052;
$purple: #38003c;
$white: #fff;
$black: #000;

$primary: $red;

$fontPrimary: $white;
$fontSecondary: $black;
$fontTertiary: $purple;

$gray-100: #eaeaea;
